{% extends 'meetups/base/base.html' %}
{% load static %}

{% block page-title %}Registration succses{% endblock %}
{% block site-css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}" />
    <link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}" />
{% endblock %}

{% block main_heading %} Successfully Registered for {{selected_meetup.title}}! {% endblock %}
{% block header_content  %}Find the one the best suits needs! {% endblock %}


{% block body %}
<section id="confirmation">
 <h2>Thanks For registration for following meetup: </h2>
    <p>Thanks for signing up-see you soon</p>
    <p> Please contact org <a href="#"></a></p>
</section>
<section id="continue">
    <p>you can sign up for more meetups</p>
    <p>
        <a href="/meetups" class="btn"> Explore for more meetups </a>
    </p>

</section>

<article>
       <img id="main-image" src="{{selected_meetup.image.url}}" alt="meetupimage" />

       <section id="details">
       <h2> Meets up All about?</h2>
        <p>{{selected_meetup.description}}</p>
       </section>
        <section id="location">
           <h2>Meetup location</h2>
           <address>This meetup takes place in
           <span>{{selected_meetup.meetLocation.name}}</span>, {{selected_meetup.meetLocation.address}}. </address>
       </section>
   </article>

{% endblock %}